= form_for [@user, @job], remote: true, html: {role: 'form'} do |f|
  %fieldset
    %legend= @order.title
    - if @job.errors.any?
      - @job.errors.full_messages.each do |msg|
        .alert.alert-error
          %button.close{data: {dismiss: 'alert'}} &times;
          = msg
    = f.hidden_field :order_id, :value => @order.id
    .control-group
      = f.label :date, class: 'control-label span2'
      = f.text_field :date, class: 'form-control'
    .control-group
      = f.label :duration, class: 'control-label span2'
      = f.text_field :duration, class: 'form-control'
    .control-group
      = f.label :begin, class: 'control-label span2'
      = f.text_field :begin, class: 'form-control'
    .control-group
      = f.label :end, class: 'control-label span2'
      = f.text_field :end, class: 'form-control'
    .control-group
      = f.label :salary, class: 'control-label span2'
      = f.text_field :salary, class: 'form-control'
      .span3.offset2
        = f.submit "Luo rivi", :class => "btn btn-success"
