= form_for [@user, @job], remote: @remote, html: {role: 'form'} do |f|
  .col-xs-12#job_errors
    - @job.errors.full_messages.each do |error|
      .alert.alert-warning.col-sm-4{role: "alert"}
        %p= error
  .form-group
    .input-group.date.col-xs-12.col-sm-4
      = f.hidden_field :date, value: (@job.date ? (l @job.date) : ""),
        class: 'form-control dateinput-inline'
      %p.help-block#date_error
  .form-group
    .input-group.date.col-xs-12.col-sm-4.timeinput
      %span.input-group-addon
        %span.glyphicon.glyphicon-time
      = f.time_field :begin, placeholder: "Alkuaika", type: 'text',
        class: 'form-control'
      %p.help-block#begin_error
  .form-group
    .input-group.date.col-xs-12.col-sm-4.timeinput
      %span.input-group-addon
        %span.glyphicon.glyphicon-time
      = f.time_field :end, placeholder: "Loppuaika", type: 'text',
        class: 'form-control'
      %p.help-block#end_error
  .form-group      
    .input-group.col-xs-12.col-sm-4
      %span.input-group-addon
        %span.glyphicon.glyphicon-euro
      = f.text_field :salary, placeholder: "Palkka",class: 'form-control'
      %p.help-block#salary_error
  .form-group
    .input-group.col-xs-12.col-sm-4
      = f.text_area :description, placeholder: "Lisätiedot",
        class: 'form-control'
  = f.hidden_field :duration
  = f.hidden_field :order_id, :value => @order.nil? ? "" : @order.id
  .form-group
    .input-group.col-xs-12.col-sm-4
      = f.submit :class => "btn btn-success"
