= form_for [@user, @user.jobs.new], remote: true, html: {role: 'form', class: 'form-horizontal'} do |f|
  = f.hidden_field :order_id, :value => @order.id
  .form-group
    = f.label :date
    = f.text_field :date
  .form-group
    = f.label :duration
    = f.text_field :duration
  .form-group
    = f.label :begin
    = f.text_field :begin
  .form-group
    = f.label :end
    = f.text_field :end
  .form-group
    = f.label :salary
    = f.text_field :salary
  
  = f.submit "Luo rivi", :class => "btn btn-success"
