%tr{class: "#{status_to_class(job.order.status)}"}
  %td= job.order.number
  %td= link_to job.description, order_path(job.order)
  %td= job.date.nil? ? "" : (l job.date, :format => :long)
  %td= number_to_currency job.salary, :unit => "€"
  %td= job.duration
  %td= link_to "Poista", user_job_path(@user, job), :method => :delete, 
    data: { confirm:  "Haluatko varmasti poistaa työn?" }, :class => "btn btn-mini btn-danger"
