%table.table#user_jobs_table
  %thead
    %tr
      %th= "Työnumero" 
      %th= "Kuvaus"
      %th= "Päivämäärä"
      %th= "Palkka"
      %th= "Kesto"
      %th Poista 
  %tbody
= will_paginate @jobs
