%h4 Tyot
%table.table#user_jobs_table
  %thead
    %tr
      %th= sortable "id", "Työnumero" 
      %th= sortable "description", "Kuvaus"
      %th= sortable "date", "Päivämäärä"
      %th= sortable "salary", "Palkka"
      %th= sortable "duration", "Kesto"
      %th Poista 
  %tbody
    = render @jobs
