.container
  %h3= t :jobs
  = form_tag user_jobs_path(params[:user_id]), method: :get, class: "form-inline" do
    .form-group
      = select_year Date.today, {start_year: Time.now.year, end_year: 2013},
        {class: "form-control"}
    .form-group
      = select_month Date.today, {}, {class: "form-control"}
    .form-group
      = label_tag :part do
        = radio_button_tag :part, '1..15', checked: true
        1-15
    .form-group
      = label_tag :part do
        = radio_button_tag :part , '16..-1'
        16...
    .form-group
      = select_tag :format, options_for_select(%w[pdf html], "pdf"),
        {class: "form-control"}
    .form-group
      = submit_tag "Hae", class: "btn btn-primary"

  = render "table"
  = render "shared/modal"
