%h3 Työt
%h3 
  Etsi rekisteristä
  %small#job-form-toggle [Näytä]
= form_tag user_jobs_path(current_user), method: :get, id: "job-search" do
  %fieldset
    .form-group
      = label_tag :year, "Vuosi", class: "col-sm-2"
      = select_year Date.today, start_year: Time.now.year, end_year: 2013
    .form-group
      = label_tag :month, "Kuukausi", class: "col-sm-2"
      = select_month Date.today
    .form-group
      = radio_button_tag :part, '1..15', checked: true
      = label_tag :part, "1..15", class: "col-sm-2"
    .form-group
      = radio_button_tag :part , '15..-1'
      = label_tag :part, "15..", class: "col-sm-2"
    .form-group
      = label_tag :format, "Formaatti", class: "col-sm-2"
      = select_tag :format, options_for_select(%w[html pdf], "html")
    .form-group
      = submit_tag "Rajaa", name: nil, class: "col-sm-offset-2 btn btn-info btn-sm"

= render "table"
= render "shared/modal"
