.panel-heading
  %h3.panel-title= @order.title
.panel-body
  = form_for [@user, @user.jobs.new] do |f|
    = f.hidden_field :id, :value => @order.id
    = f.date_field :date
    = f.text_field :duration
    = f.submit "Luo rivi"
