.container
  .col-xs-12
    %h2= t :user, count: 2 
  - @users.each do |user|
    .col-xs-12.col-sm-6.col-md-3
      %div{class: "panel panel-#{user.is?(:dismissed) ? "warning" : "success"}"}
        .panel-heading
          = user.name
          - if user.is?(:dismissed)
            = t :dismissed
        .panel-body
          Tiedot
        %ul.list-group
          %li.list-group-item= user.email
          - if user.address
            %li.list-group-item= user.address
        .panel-footer
          = link_to (t :edit), edit_user_path(user), class: "btn btn-info"
          = link_to (t :jobs), user_jobs_path(user), class: "btn btn-info"
  .col-xs-12 
    = link_to (t :new_user), new_user_path, class: "btn btn-primary btn-block"
