%h3= @user.name
%img{"class" => "img-rounded"}

%h4 Työt
- if @jobs.empty?
  %p Ei yhtään tehtyjä töitä
- else
  %table.table
    %thead
      %tr
        %th= link_to "Työnumero", :sort => "order_id"
        %th= link_to "Työ", :sort => "description"
        %th= link_to "Päivämäärä", :sort => "date"
        %th= link_to "Palkka", "#"
        %th= link_to "Kesto", :sort => "duration"
        %th Poista 
    %tbody
      - @jobs.each do |job|
        %tr
          %td
            %span.label.label-default= job.order_id
          %td= link_to job.description, order_path(job.order_id)
          %td= job.date
          %td= number_to_currency job.salary, :unit => "€"
          %td= job.duration
          %td= link_to "Poista", user_job_path(@user, job), :method => :delete, 
            date: { confirm:  "Haluatko varmasti poistaa työn?" }

%h4 Sinun työmääräyksesi
%table.table
  %tr
    %th Työnumero
    %th Työ
    %th Alkamispäivä
    %th Loppumispäivä
    %th Toiminnot
  - @user.orders.each do |order|
    %tr
      %td
        %span.label.label-default= order.id
      %td= order.title
      %td= l order.begin_at, :format => :long
      %td= l order.end_at, :format => :long
      %td= link_to "Lisää", new_user_job_path(@user), :class => "btn btn-mini btn-primary"
