%h3= @user.name
%img{"class" => "img-rounded"}

%h3 Työt
- if @jobs.empty?
  %p Ei yhtään tehtyjä töitä
- else
  %table.table
    %thead
      %tr
        %th= link_to "Työnumero", :sort => "order_id"
        %th= link_to "Työ", :sort => "description"
        %th= link_to "Päivämäärä", :sort => "date"
        %th= link_to "Palkka", "#"
        %th= link_to "Kesto", :sort => "duration"
        %th Poista 
    - @jobs.each do |job|
      %tbody
        %tr
          %td= job.order_id
          %td= link_to job.description, order_path(job.order_id)
          %td= job.date
          %td n/a
          %td= job.duration
          %td= link_to "Poista", user_job_path(@user, job), :method => :delete, 
            date: { confirm:  "Haluatko varmasti poistaa työn?" }

%h3 Työmääräykset
.row
  .list-group.span6
    - @orders.each do |order|
      = link_to new_user_job_path(@user, order_id: order.id), :class => "list-group-item order-item", :remote  => true do 
        %h4.list-group-item-heading
          = order.title
          %span.badge= order.id
        %p.list-group-item-text= order.description
  #panel-div Tähän lomake
