%h3= @user.name
%img{"class" => "img-rounded"}

%h4 Työt
- if @jobs.empty?
  %p Ei yhtään tehtyjä töitä
- else
  %table.table
    %thead
      %tr
        %th= link_to "Työnumero", :sort => "order_id"
        %th= link_to "Työ", :sort => "description"
        %th= link_to "Päivämäärä", :sort => "date"
        %th= link_to "Palkka", "#"
        %th= link_to "Kesto", :sort => "duration"
        %th Poista 
    - @jobs.each do |job|
      %tbody
        %tr
          %td
            %span.label.label-default= job.order_id
          %td= link_to job.description, order_path(job.order_id)
          %td= job.date
          %td= number_to_currency job.salary, :unit => "€"
          %td= job.duration
          %td= link_to "Poista", user_job_path(@user, job), :method => :delete, 
            date: { confirm:  "Haluatko varmasti poistaa työn?" }

%h4 Viimeisimmät työmääräykset
.row
  #accordion
    - @orders.each do |order|
      %h3
        %span{:class => "label label-#{status_to_class(order.status)}"}= order.id
        = order.title
      %div
        %p= order.description
