%h3= @user.name
%img{"class" => "img-rounded"}

%h4 Työt
- if @user.jobs.empty?
  %p Ei yhtään tehtyjä töitä
- else
  %table.table
    %thead
      %tr
        %th Aika
        %th Luotu
        %th Valmis
    - @user.jobs.each do |job|
      %tbody
        %tr
          %td n/a
          %td job.created_at
          %td n/a

= form_for [@user, @user.jobs.new], html: {class: "form-inline"} do |f|
  = f.label :order_id, class: "sr-only"
  = f.text_field :order_id, placeholder: "Työnumero"
  = f.label :description, class: "sr-only"
  = f.text_field :description, placeholder: "Kuvaus"
  = f.label :date, class: "sr-only"
  = f.datetime_field :date, placeholder: "Päivämäärä"
  = f.submit

= link_to "Uusi tuntiraportti", new_user_job_path(current_user), :class => "btn btn-primary"
