%nav{class: "navbar navbar-default navbar-#{params[:controller]}"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{type: "button", "data-toggle" => "collapse", "data-target" => "#main-nav" }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand= link_to "Moneko", root_path
    .collapse.navbar-collapse#main-nav
      - if current_user
        %ul.nav.navbar-nav#user-nav{data: {"user-id" => current_user.id}}
          %li= link_to "Työmääräykset", orders_path if current_user.is?("admin")
          %li= link_to "Käyttäjät", users_path if current_user.is?("admin")
          %li= link_to "Oma sivu", user_path(current_user)
          %li= link_to "Kalenteri", user_tasks_path(current_user)
          %li= link_to "Rekisteri", user_jobs_path(current_user)
          %li= link_to "Muokkaa", edit_user_registration_path
        %ul.nav.navbar-nav.navbar-right
          %li
            %p.navbar-text
              = t :welcome, user: current_user.name
              = link_to (t :logout), destroy_user_session_path, 
                method: :delete
      - else
        %ul.nav.navbar-nav.navbar-right
          %li
            %p.navbar-text
              = link_to (t :sign_in), new_user_session_path
