= form_for @order, :html => {:class =>  "form-inline"} do |f|
  %fieldset
    %legend Työmääräys
    - if @order.errors.any?
      - @order.errors.full_messages do |msg|
        %li= msg
    .form-group
      = f.label :title, :class => "span2"
      = f.text_field :title, :class => "input-xxlarge", 
        :value => (@offer.present? ? @offer.target : @order.title)
    %br
    .form-group
      = f.label :description, :class => "span2"
      = f.text_area :description, :class => "input-xxlarge", :rows => 20, 
        :value => (@offer.present? ? strip_tags(@offer.charge) : @order.description)
    %br
    .form-group
      = f.label :begin_at, :class => "span2"
      = f.text_field :begin_at, :class => "datetime"
    %br
    .form-group
      = f.label :end_at, :class => "span2"
      = f.text_field :end_at, :class => "datetime"
    %br
    .form-group
      = f.label :salary, :class => "span2"
      = f.text_field :salary
    %br
    .form-group
      = f.label :users, :class => "span2"
      - @users.each do |u|
        = check_box_tag "order[user_ids][]", u.id
        = u.name
        %br
    %br
    = f.submit
