= form_for @order do |f|
  %fieldset
    %legend Työmääräys
    - if @order.errors.any?
      - @order.errors.full_messages do |msg|
        %li= msg
    .form-group.span7
      = f.label :title
      = f.text_field :title, :class => "input-xxlarge", 
        :value => (@offer.present? ? @offer.target : @order.title)
    %br
    .form-group.span7
      = f.label :description
      = f.text_area :description, :class => "input-xxlarge", :rows => 5, 
        :value => (@offer.present? ? strip_tags(@offer.charge) : @order.description)
    .form-group.span7
      #begin_datetime.span3{:style => "margin-left: 0px;"}
        = f.label :begin_at
        = f.text_field :begin_at, :value => @order.begin_at.strftime('%d.%m.%Y %H:%M')
      #end_datetime.span3
        = f.label :end_at
        = f.text_field :end_at, :value => @order.end_at.strftime('%d.%m.%Y %H:%M')
    %br
    .span6
      Työn suorittajat
      %br
      - @users.each do |u|
        = check_box_tag "order[user_ids][]", u.id, @order.users.include?(u)
        = u.name
        %br
    %br
    .form-group.span6
      = f.label :salary
      = f.text_field :salary
    %br
    .span6
      = f.submit :class => "btn btn-primary"
