= form_for @order, remote: @remote do |f|
  %fieldset.span6
    %legend Työmääräys
    - @order.errors.full_messages.each do |error|
      .alert.alert-warning{role: "alert"}
        %p= error
    = f.hidden_field :offer_id
    .form-group
      = f.label :title
      = f.text_field :title, :class => "form-control" 
      %p.help-block#title_errors
    .form-group
      = f.label :description
      = f.text_area :description, :class => "form-control", :rows => 5 
      %p.help-block#description_errors
    .form-group
      = f.label :begin_at
      = f.text_field :begin_at, :class => "form-control datetimeinput",
        :value => @order.begin_at.nil? ? "" : (l @order.begin_at)
      %p.help-block#begin_at_errors
    .form-group
      = f.label :end_at
      = f.text_field :end_at, :class => "form-control datetimeinput",
        :value => @order.end_at.nil? ? "" : (l @order.end_at)
      %p.help-block#end_at__errors
    .form-group
      = f.label "Toistuva?"
      = f.select_recurring :rule, nil, allow_blank: true
    .form-group
      = f.label :until_at
      = f.text_field :until_at, class: "dateinput",
        :value => @order.until_at.nil? ? "" : (l @order.until_at, format: :short)
    %br
    %b Työn suorittajat
    %br
    - @users.each do |u|
      .checkbox
        = check_box_tag "order[user_ids][]", u.id, @order.users.include?(u)
        = u.name
    .form-group
      = f.label :salary
      = f.text_field :salary, :class => "form-control"
      %p.help-block#salary_errors
    .form-actions
      = f.submit :class => "btn btn-primary"
