= form_for @order do |f|
  %fieldset.span6
    %legend Työmääräys
    = render 'shared/form_errors', object: @order
    = f.label :title, :class => "control-label"
    = f.text_field :title, :class => "input-xxlarge" 
    = f.label :description, :class => "control-label"
    = f.text_area :description, :class => "input-xxlarge", :rows => 5 
    = f.label :begin_at, :class => "control-label"
    = f.text_field :begin_at, value: @order.begin_at.strftime('%d.%m.%Y %H:%m')
    = f.label :end_at, :class => "control-label"
    = f.text_field :end_at, value: @order.end_at.strftime('%d.%m.%Y %H:%m')
    %br
    Työn suorittajat
    %br
    - @users.each do |u|
      .checkbox
        = check_box_tag "order[user_ids][]", u.id, @order.users.include?(u)
        = u.name
    = f.label :salary, :class => "control-label"
    = f.text_field :salary
    .form-actions
      = f.submit :class => "btn btn-primary"
