%table.table.table-striped
  %thead
    %tr
      %th ID 
      %th Kohde
      %th Kuvaus
      %th Tila
  %tbody
    - @orders.each do |order|
      %tr
        %td
          %span{class: "label label-#{status_to_class(order.status)}"}= order.id
        %td= link_to order.title, order
        %td= order.description
        %td= I18n.t order.status
= link_to "Luo työmääräys", new_order_path, :class => "btn btn-primary"
