.page-header
  %h1= @order.title
  %small= "Työ on tilassa #{I18n.t @order.status}, luotu #{time_ago_in_words @order.created_at} sitten, 
    päivitetty #{time_ago_in_words @order.updated_at} sitten."
%p
  %strong Työnumero
  %br
  %span.label.label-success=@order.number
%p
  %strong Tarjousnumero
  %br
  - unless @order.offer.nil?
    = link_to @order.offer.id, @order.offer
%p
  %strong Työn kuvaus
  %br
  =@order.description
%p
  %strong Työhön määrätty henkilökunta
  - @order.users.each do |user|
    %h4= user.name
%p
  %strong 
    Työn suunniteltu kesto
  %br
  #{l @order.begin_at, :format => :long} 
  - if @order.end_at
    \-- #{l @order.end_at, :format => :long}
%p
  %strong Palkka
  %br
  = "#{@order.salary} €"
%p
  %strong Työhön rekiströidyt työmerkinnät
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Työntekijä
      %th Päivämä
      %th Kuvaus
      %th Kesto (tuntia)
      %th Palkka (euroa)
  - if @order.jobs.any?
    %tbody
    - @order.jobs.each do |j|
      %tr
        %td= j.user.name
        %td= l j.date, format: :long
        %td= j.description
        %td= j.duration
        %td= number_to_currency j.salary
    %th Yhteenveto
    %td
    %td
    %th= @order.jobs.sum('duration')
    %th= number_to_currency @order.jobs.sum('salary')
%p
  = link_to "Poista", @order, :class => "btn btn-danger", method: :delete
  = link_to "Muokkaa", edit_order_path(@order), :class => "btn btn-primary"

