%div{class: "panel panel-#{status_to_class(@order.status)}"}
  .panel-heading
    %h2
      = @order.title
      %span.label.label-primary= @order.id
  .panel-body= @order.description
  .panel-footer
    .btn-group
      = link_to "Poista", @order, :class => "btn", method: :delete
      = link_to "Muokkaa", edit_order_path(@order), :class => "btn"

