%h3 Työmääräys #{@order.id}
.row
  .span9
    .btn-group
      = link_to "Poista", @order, :class => "btn", method: :delete
      = link_to "Muokkaa", edit_order_path(@order), :class => "btn"
.span3
  %h4 Kohde
  %p= @order.title
.span6
  %h4 Työkuvaus
  %p= @order.description
