.page-header
  %h1= @order.title
  %small= "Työ on tilassa #{I18n.t @order.status}, luotu #{@order.created_at}, 
    päivitetty #{@order.updated_at}."
%p
  %strong Työnumero
  %br
  %span.label.label-success=@order.number
%p
  %strong Tarjousnumero
  %br
  - if @order.offer_id?
    = link_to @order.offer_id, @order.offer_id 
  - else
    Työstä tehtyä tarjousta ei tiedossa.
%p
  %strong Työn kuvaus
  %br
  =@order.description
%p
  %strong Työhön määrätty henkilökunta
  - @order.users.each do |user|
    %h4= user.name
#{l @order.begin_at, :format => :long} -- 
#{@order.end_at.nil? ? "" : (l @order.end_at, :format => :long)}
%p
  = link_to "Poista", @order, :class => "btn btn-danger", method: :delete
  = link_to "Muokkaa", edit_order_path(@order), :class => "btn btn-primary"

