= nested_form_for @offer do |f|
  %fieldset
    %legend Luo uusi tarjous
    = render 'shared/form_errors', object: @offer
    .form-group
      = f.label :customer_id, "Asiakas"
      = f.collection_select :customer_id, Customer.all, :id, :name
    .form-group
      = f.label :place_id, "Kohde"
      = f.collection_select :place_id, Place.all, :id, :name
    .form-group
      = f.label :contents, "Tarjouksen sisältö"
      = f.text_area :contents, :class => "form-control"
    .form-group
      = f.label :execution, "Työn suoritus"
      = f.text_area :execution, :class => "form-control"
    .form-group
      = f.label :delivery, "Toimitusaika"
      = f.text_area :delivery, :class => "form-control"
    %h3 Tarjoukseen sisältyvät palvelut
    = f.fields_for :services do |service|
      .service
        .form-group
          = service.label :title
          = service.text_field :title, :class => "form-control"
        .form-group
          = service.label :price
          = service.number_field :price, :class => "form-control"
        .form-group
          = service.link_to_remove "Poista tämä palvelu", class: "btn btn-sm btn-warning"
    = f.link_to_add "Lisää palvelu", :services
      
    .form-group
      = f.submit "Luo tarjous", :class => "btn btn-primary"
