= form_for @offer do |f|
  %fieldset.span8
    %legend Luo uusi tarjous
    - if @offer.errors.any?
      - @offer.errors.full_messages.each do |msg|
        .row
          .alert.alert-error.span4
            %button{:type => "button", :class => "close", "data-dismiss" => "alert"} &times;
            %p= msg
    = f.label :customer, "Asiakkaan nimi ja osoite"
    = f.text_area :customer, :rows => 6, :class => "span8"

    = f.label :target, "Työkohde"
    = f.text_field :target, :class => "span8"

    = f.label :contents, "Tarjouksen sisältö"
    = f.text_area :contents, :class => "editor"

    = f.label :execution, "Työn suoritus"
    = f.text_area :execution, :class => "editor"

    = f.label :delivery, "Toimitusaika"
    = f.text_area :delivery, :class => "editor"

    = f.label :charge, "Palvelumaksu"
    = f.text_area :charge, :class => "editor"

    %br
    = f.submit "Luo tarjous", :class => "btn btn-primary"
