= form_for @offer do |f|
  %fieldset
    %legend Luo uusi tarjous
    = render 'shared/form_errors', object: @offer
    .form-group
      = f.label :customer, "Asiakkaan nimi ja osoite"
      = f.text_area :customer, :rows => 6, :class => "form-control"
    .form-group
      = f.label :target, "Työkohde"
      = f.text_field :target, :class => "form-control"
    .form-group
      = f.label :contents, "Tarjouksen sisältö"
      = f.text_area :contents, :class => "form-control"
    .form-group
      = f.label :execution, "Työn suoritus"
      = f.text_area :execution, :class => "form-control"
    .form-group
      = f.label :delivery, "Toimitusaika"
      = f.text_area :delivery, :class => "form-control"
    %h3 Tarjoukseen sisältyvät palvelut
    = f.fields_for :services do |service|
      .service
        .form-group
          = service.label :title
          = service.text_field :title, :class => "form-control"
        .form-group
          = service.label :price
          = service.number_field :price, :class => "form-control"
        .form-group
          = service.hidden_field :_destroy
          = link_to "Poista tämä palvelu", "", class: "btn btn-sm btn-warning destroy_service"
      
    .form-group
      = f.submit "Luo tarjous", :class => "btn btn-primary"
