= form_for @offer do |f|
  %fieldset
    %legend Luo uusi tarjous
    = render 'shared/form_errors', object: @offer
    .form-group
      = f.label :customer, "Asiakkaan nimi ja osoite"
      = f.text_area :customer, :rows => 6, :class => "form-control"
    .form-group
      = f.label :target, "Työkohde"
      = f.text_field :target, :class => "form-control"
    .form-group
      = f.label :contents, "Tarjouksen sisältö"
      = f.text_area :contents, :class => "form-control"
    .form-group
      = f.label :execution, "Työn suoritus"
      = f.text_area :execution, :class => "form-control"
    .form-group
      = f.label :delivery, "Toimitusaika"
      = f.text_area :delivery, :class => "form-control"
    .form-group
      = f.label :charge, "Palvelumaksu"
      = f.text_area :charge, :class => "form-control"
    .form-group
      = f.submit "Luo tarjous", :class => "btn btn-primary"
