%table.table.table-striped
  %thead
    %tr
      %th Tunnus
      %th Asiakas
      %th Kohde
      %th Päivitetty
      %th Arvo
  %tbody
    - @offers.each do |offer| 
      %tr
        %td= link_to offer.id
        %td= offer.customer.name
        %td= offer.place.name
        %td= l offer.updated_at.to_time, format: :short
        %td= number_to_currency(offer.services.sum(:price))

%p= link_to "Luo uusi tarjous", new_offer_path, :class => "btn btn-primary"
