.page-header
  %h3 Työtarjous
  %p 
    Luotu #{@offer.created_at.to_date.strftime("%d.%m.%Y")}
    %br
    Muokattu #{@offer.updated_at.to_date.strftime("%d.%m.%Y")}
  .btn-group
    %button{:class => "btn btn-success dropdown-toggle",
    "data-toggle"=> "dropdown", :href => "#"}
      Toiminnot
      %span.caret
    %ul.dropdown-menu{role: "menu"}
      %li= link_to "Luo PDF", offer_path(@offer, :format => 'pdf')
      %li= link_to "Muokkaa", edit_offer_path(@offer)
      %li= link_to "Luo työmääräys", new_order_path(:offer_id => @offer)
      %li= link_to "Lähetä", "#"
%address= simple_format(@offer.customer)
%br
.row
  .col-md-3
    %h4 Työkohde
  .col-md-7
    %p= @offer.target
.row
  .col-md-3
    %h4 Tarjouksemme sisältö 
  .col-md-7
    %p= simple_format(@offer.contents)
.row
  .col-md-3
    %h4 Työn suoritus
  .col-md-7
    %p= simple_format(@offer.execution)
.row
  .col-md-3
    %h4 Toimitusaika 
  .col-md-7
    %p= simple_format(@offer.delivery)
.row
  .col-md-3
    %h4 Palvelut
.row
  - @offer.services.each do |service|
    .col-md-3
      %b= service.title
    .col-md-7
      %b= number_to_currency service.price
  .col-md-7.col-md-offset-3
    %b= number_to_currency @offer.services.sum(:price)
