.offerFooter
  .row
    .span3
      %p
        %b MONEKO OY
        %br
        Gyldenintie 10 B
        %br
        00200 Helsinki
    .span3
      %p 
        email
        %br
        raimo.saariaho@moneko.fi
    .span3
      %p
        puhelin
        010 286 1200
        0400 608329
.offerHeader
  .row
    .span8
      %h4 MONEKO
    .span3
      %p 
        PALVELUTARJOUS
        %br
        Luottamuksellinen
      
%p= @offer.customer
%br
.row
  .span5
    %p
      %h4 TARJOUDUMME SUORITTAMAAN SIIVOUSTYÖTÄ SEURAAVASTI
      %br
.row.entry
  .span4
    %p
      %b Työkohde
  .span7
    %p= @offer.target
.row.entry
  .span4
    %p
      %b Tarjouksemme sisältö 
  .span7
    %p= simple_format(@offer.contents)
.row.entry
  .span4
    %p
      %b Työn suoritus
  .span7
    %p= simple_format(@offer.execution)
.row.entry
  .span4
    %p
      %b Toimitusaika 
  .span7
    %p= simple_format(@offer.delivery)
.row
  .span4
    %p
      %b Palvelumaksu
  .span7
    %p= simple_format(@offer.charge)
