%h3= link_to "Luo PDF", offer_path(@offer, :format => 'pdf')
%h3= link_to "Muokkaa", edit_offer_path(@offer)
%p= simple_format(@offer.customer)
%br
.row
  .span5
    %p
      %h4 TARJOUDUMME SUORITTAMAAN SIIVOUSTYÖTÄ SEURAAVASTI
      %br
.row.entry
  .span4
    %p
      %b Työkohde
  .span7
    %p= @offer.target
.row.entry
  .span4
    %p
      %b Tarjouksemme sisältö 
  .span7
    %p= simple_format(@offer.contents)
.row.entry
  .span4
    %p
      %b Työn suoritus
  .span7
    %p= simple_format(@offer.execution)
.row.entry
  .span4
    %p
      %b Toimitusaika 
  .span7
    %p= simple_format(@offer.delivery)
.row
  .span4
    %p
      %b Palvelumaksu
  .span7
    %p= simple_format(@offer.charge)
