!!! 5
%html
  %head
    %title Moneko
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render 'shared/navigation'
              
    #errors.span6.offset3
      - if flash[:notice]
        alert.alert-success= flash[:notice]
    .container
      = yield

