!!! 5
%html
  %head
    %title Moneko
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %body
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            = link_to "Moneko", '#', :class => "brand"
            %ul.nav
              %li= link_to "Tarjoukset", offers_index_path
              %li= link_to "Työmääräykset", "#"
              %li= link_to "Valmiit", "#"

      = yield
