!!! 5
%html
  %head
    %title Moneko
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %body
      .container
        = nav_bar :fixed => :top, :brand => "Moneko" do
          = menu_group do
            = menu_item "Tarjoukset", offers_path
            = menu_item "Työmääräykset", orders_path
            = menu_item "Käyttäjät", users_path
          = menu_group :pull => :right do
            - if current_user
              = menu_item current_user.name, user_path(current_user)
              = menu_item "Kirjaudu ulos", destroy_user_session_path, :method => :delete
            - else
              = menu_item "Kirjaudu", new_user_session_path
        .row
          #errors.span6.offset3
            - if flash[:notice]
              .alert.alert-success= flash[:notice]
        = yield

