!!! 5
%html
  %head
    %title Moneko
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    %body
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            = link_to "Moneko", '#', :class => "brand"
            %ul.nav.navbar-nav
              %li{ :class => ('active' if 'offers' == controller_name) }= link_to "Tarjoukset", offers_path
              %li= link_to "Työmääräykset", "#"
              %li= link_to "Valmiit", "#"
            %ul.nav.navbar-nav
              %li{ :class => ('active' if 'users' == controller_name) }= link_to "Käyttäjät", users_path
            %ul.nav.navbar-nav.pull-right
              %li= link_to "Kirjaudu ulos", destroy_user_session_path, :method => :delete 
            %ul.nav.navbar-nav.pull-right
              - if user_signed_in?
                %li= link_to current_user.name, edit_user_registration_path
              - else
                %li= link_to 'Kirjaudu', new_user_session_path 
      = yield
    = javascript_include_tag "application", "data-turbolinks-track" => true

